body{
    margin: 0 auto;

    font-family: sans-serif;
}

header{
    display: flex;
}

.wrapper{
    margin-right: 0 auto;
    width: 80%;
}



.w-70{

    width: 70%;
    

}

.w100{
    width: 100%;
}

.w-25{
    width: 25;
}

.w-50{
    width: 50%;
}

h4{
    margin: 0;
}

.w-30{
    width: 30%;
    background-color: red;
}

.w-30-contact{
    width: 30%;
    background-image: url("https://www.free-css.com/assets/files/free-css-templates/preview/page248/avalon/assets/img/contact-right-bg.png");
}

.d-flex-center {
    display: flex;
	flex-direction: row;
	flex-wrap: wrap;
    justify-content: center;
    align-items: center;

}

.column{
    display: flex;
	flex-direction: column;
	
}

.d-flex{
    display: flex;
    flex-direction: row;
    
}



.row{
    display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-around;
	align-items: center;
    align-content: space-around;
    margin-bottom: 20px;
    background-color: #EEEEEE;
}

.h-100{
    height: 100vh;
}


.bg-b{
  background-image: url("https://www.free-css.com/assets/files/free-css-templates/preview/page248/avalon/assets/img/banner-bg.png");

  background-repeat: no-repeat;

  background-position: center;

  background-size: cover;


}

.bg-grey{
    background-color: #EEEEEE;
}

.bg-white{
    background-color: white;
}


.bg-hicker{
    background-image: url("https://www.free-css.com/assets/files/free-css-templates/preview/page248/avalon/assets/img/testimonial-bg.png");
}

.text-white{
    color: white;
}

.font-size-64{
    font-size: 64px;
}

#first a {
    color: white;
    text-decoration: none;
    padding: 20px;
    border: 5px solid white;
    border-radius: 5%;
}

.text-center{
    text-align: center;
}

.border-b{
    border-bottom: 2px solid white;
}

.mt-3 {
    margin-top: 30px;
}

.mt-5{
    margin-top: 50px;
}

.mb-5{
    margin-bottom: 50px;
}

.m-5{
    margin:5px;
}



.second{
    display: flex;
    ;
}

.bg-r{
    background-color: #B1505E;
}
/* 
.circle img{
    border: 3px solid white;
    border-radius: 50%;
   
} */



.right ul{
    list-style-type: none;
}


.right{
   
    width:45%;
    
  
}

.right ul{
    margin-bottom: 50px;
}

.left{
 
    width: 45%;
}

.events{
    background-color: #312D24;
    display: flex;
}

.nav-bar{
    display: flex;
    justify-content: center;
    padding: 20px;
   
}

.nav-bar a{
    text-decoration: none;
    color: #312D24;
    padding: 20px;
    background-color: white;
    margin-right: 5px;
    font-weight: bold;
    text-align: center;
}

.nav-bar a:hover{
    text-decoration: none;
    color: yellow;
}

.listas{
 
}

.white-button a{

    color: #312D24;
    
    padding: 10px;
    background-color: white;
    border-radius: 10px;
}



ul li{
    list-style-type: none;
    
}

.fourth{
    display: flex;
}

.f-left{
    background-image: url("https://www.free-css.com/assets/files/free-css-templates/preview/page248/avalon/assets/img/testimonial-left-image.png");
}


.fifth{

    display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	align-items: center;
	align-content: center;
	
    background-image: url("https://www.free-css.com/assets/files/free-css-templates/preview/page248/avalon/assets/img/services-bg.png");
    height: 350px;

}

.cube-1{
    height: 100%;
    width: 25%;
    background-color: red;
}

.cube-2{
    height: 100%;
    width: 25%;
    
    background-color: green;
}

.cube-3{
    height: 100%;
    width: 25%;
   
    background-color:blue;
}

.cube-4{
    height: 100%;
    width: 25%;
  
    background-color: purple;
}

.center{
    display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	align-content: center;
}


.last{
    display: flex;
}

.bg-last{

    background-image: url("https://www.free-css.com/assets/files/free-css-templates/preview/page248/avalon/assets/img/contact-bg.png");
    background-repeat: no-repeat;
    background-size: cover;
}


.form{
    display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-around;
	align-items: center;
	align-content: space-around;

 }

 input{
     padding: 12px;
     margin: 20px;   
     color: white;
     opacity: 50%;
     
 }

 textarea{
     width: 73%;

     opacity: 50%;
 }

 .bb-red{
    border: none;
   
     border-bottom: 3px solid white;
 }

.contact{
    background-image: url("https://www.free-css.com/assets/files/free-css-templates/preview/page248/avalon/assets/img/contact-right-bg.png");
}


footer{
    padding: 20px;
    background-color: #BFD8D2;
}


.right a{
    padding: 15px;
    background-color: #B94E5E;
    text-decoration: none;
    color: white;
    border-radius: 20px;
}